/* Evitar la selección de texto en toda la página */
* {
  user-select: none;
}

/* Establecer el estilo base para el cuerpo y el HTML */
body,
html {
  background: linear-gradient(42deg, #ebebeb, #17171752);
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Contenedor principal de la calculadora */
#Calculadora {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

/* Contenedor del cuerpo de la calculadora */
#cuerpo-calculadora {
  background-color: #171717;
  border-radius: 50px;
  width: 300px;
  height: 730px;
  display: grid;
  padding: 20px;
  grid-template-rows: auto auto auto;
  border: 6px #ffffff solid;
  box-shadow: 10px 10px 30px #7b7a7a, -10px -10px 30px #ffffff;
}

#opciones {
  display: inline-flex;
  justify-content: center;
  height: 30px;
  width: 300px;
}
#opciones img {
  margin-left: 10px;
  padding: 0;
  width: 23px;
  height: 23px;
  border-radius: 5px;
}

#main-display {
  cursor: pointer;
}

#second-display img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* Pantalla principal de la calculadora */
#pantalla-calculadora {
  display: grid;
  grid-template-rows: auto auto;
  align-items: end;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  justify-content: end;
  font-size: 80px;
  padding: 10px;
  width: 280px;
  height: 300px;
  border-radius: 10px;
}

/* Pantalla superior de la calculadora */
#pantalla-superior {
  font-size: 25px;
  display: flex;
  justify-content: end;
}

/* Pantalla inferior de la calculadora */
#pantalla-inferior {
  display: flex;
  justify-content: end;
}

/* Contenedor de los botones */
#botones {
  border-top: 1px dimgray solid;
  padding-top: 5px;
  width: 300px;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto auto;
  margin-top: 20px;
}

/* Estilo de los botones numéricos y de operación */
.boton,
.boton-derecho,
.boton-arriba {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 35px;
  font-weight: normal;
  font-size: 20px;
  cursor: pointer;
  color: white; /* Color de texto común */
}

.boton:active {
  background-color: gray;
}

/* Estilo de los botones de operación especiales */
.boton-derecho,
.boton-arriba {
  color: #f38541;
}

.boton-derecho {
  font-size: 30px;
}

.screen {
  transition: opacity 0.2s ease;
  height: 700px;
}

.screen.hidden {
  opacity: 0; /* Pantalla oculta */
  pointer-events: none;
  height: 0; /* Evitar eventos en la pantalla oculta */
}

.screen2-option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  height: 75px;
  width: 60px;
}

#screen2 img {
  height: 40px;
  width: 40px;
  background-color: whitesmoke;
  border-radius: 8px;
  border: 5px whitesmoke solid;
}

#screen2 p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 2px;
  font-size: 15px;
  color: ghostwhite;
}
